nav {
  display: flex;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;

}


.Typewriter {
  font-family: 'Playfair Display', serif;
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  z-index: 1;
  font-size: 100px;
  color: white  ;
}

.subTypewriter {
  font-family: 'Playfair Display', serif;
  font-size: x-large;
  color: lightgray;
  top: 47%;
  width: 400px;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  position: absolute;

  animation: fadeInAnimation;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.gif {
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  opacity: 0;


  animation: fadeInAnimation;
  animation-delay: 4s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}



.projects{
  position: absolute;
  margin-top: 600px;
}

.projectsTitle{
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  text-align: center;

}

.projectContainer {
  margin: 100px 20%;
  display: flex;
  flex-direction: column;

}

.projectCard {
  display: flex;
  flex-direction: row-reverse;
  height: 300px;
  margin-bottom: 100px;
  border-style: solid;
}

.projectImageSection {
  border-right: solid ;
  border-left: solid;
}

.projectImage {
  height: 100%;
}

.projectinfo {
  font-family: 'Playfair Display', serif;
  margin: 0 30px;
  text-align: center;
}

.projectTitle {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: xx-large;
}

.projectButtons{
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly ;
}

.projectButtons > a {
  color: black;
}


.projectView {
  font-family: 'Playfair Display', serif;
  font-size: 1.25rem;
  padding: 3px 30px;
  border-radius: 1.5rem;
  background-color: white;
  transition: transform 0.3s ease;
}
.projectView > a {
  color: black;
}

.projectView:hover{
  transform: scale(1.1);
  color: black;
}


.projectCode {
  font-family: 'Playfair Display', serif;
  font-size: 1.25rem;
  padding: 3px 30px;
  border-radius: 1.5rem;
  background-color: white;
  transition: transform 0.3s ease;
}
.projectCode > a {

  color: black;
}

.projectCode:hover {
  transform: scale(1.1);
  color: black;
}



